@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700&display=swap');

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

:root {
  --main-text-color: #2E2F42;
}

header {
  background-color: #E7E9FC;
  height: 72px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
}

header ul {
  display: flex;
  gap: 24px;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav {
  display: flex;
  gap: 24px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav li a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

header a {
  text-decoration: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-right: 30px;
}

.logo span {
  color: #2e2f42;
}

span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.nav-link:hover,
.nav-link:focus,
.header-footer-email:hover,
.header-footer-email:focus,
.header-footer-mobile:hover,
.header-footer-mobile:focus {
  color: #404bbf;
}

address {
  font-style: normal;
}

.header-footer-email,
.header-footer-mobile {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.dark-background {
  background-color: #2E2F42;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.title-main {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
  max-width: 40%;
}

.button-main {
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4D5AE5;
  border-radius: 4px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  transition: background 0.3s ease;
}

.titles {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.titles ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  gap: 24px;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
  .titles li {
    width: calc((100% - 72px) / 4); /* 3 gaps по 24px */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

.shadow {
  display: none;
}

.titles p {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.titles h3 {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menegers {
  background-color: #F4F4FD;
  min-height: 560px;
  padding-top: 56px;
}

.menegers ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.menegers li {
  background-color: white;
  width: 264px;
  height: 380px;
  text-align: center;
}

.menegers h2 {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 70px;
}

.menegers h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
}

.menegers p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.footer {
  background-color: #2E2F42;
  color: #F4F4FD;
  padding: 60px 20px;
  padding-left: 156px;
  width: 100%;
}

.footer span {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.footer a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #F4F4FD;
}

.footer p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

.portfolio {
  padding: 120px 0;
  background-color: #ffffff;
}

.section-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.portfolio-item {
  background-color: #ffffff;
  width: calc((100% - 48px) / 3);
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin: 32px 0 8px 16px;
}

.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  margin: 0 0 32px 16px;
}



